<div class="container mat-elevation-z8">
    <h1 class="full-width">Criando Chamado</h1>
    <img class="full-width" src="assets/img/LogoEntrelinhas.svg">

    <form class="form">
        
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Título do chamado</mat-label>
          <input matInput placeholder="Título do chamado">
        </mat-form-field>
        
        <div class="status-prioridade">
            <mat-form-field appearance="outline">
                <mat-label>Selecione um Status</mat-label>
                <mat-select>
                  <mat-option value="0">Aberto</mat-option>
                  <mat-option value="1">Em Andamento</mat-option>
                  <mat-option value="2">Encerrado</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Selecione uma Prioridade</mat-label>
                <mat-select>
                  <mat-option value="0">Baixa</mat-option>
                  <mat-option value="1">Média</mat-option>
                  <mat-option value="2">Alta</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
        <div class="tecnico">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Selecione um Técnico</mat-label>
                <mat-select>
                  <mat-option value="0">Valdir</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="cliente">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Selecione um Cliente</mat-label>
                <mat-select>
                  <mat-option value="0">Albert Einstein</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="text-area">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Descrição</mat-label>
                <textarea class="descricao" matInput placeholder="Descreva aqui sobre o problema"></textarea>
            </mat-form-field>
        </div>

        <button class="full-width mat-elevation-z4" mat-raised-button color="primary">Cadastrar</button>
        <button class="full-width mat-elevation-z4" mat-stroked-button color="warn">Cancelar</button>

        <p class="full-width">Desenvolvido por Frederico Carvalho</p>

    </form>
      

</div>